// layout variables
$layout-aside-left-width: 220px;
$layout-max-content-width: 660px;
$layout-aside-right-width: 220px;

$layout-middle-width: $layout-max-content-width + $layout-aside-left-width +
  10px;
$layout-large-width: $layout-middle-width + $layout-aside-right-width + 10px;

// layout offset
$layout-offset-y: 16px;
$layout-content-offset-x: 24px;

// header variables
$header-height: 60px;
